.App {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.page{
    overflow-x: hidden;
}

header{
    margin: 0;
    background-color: #F0932B;
    height: 100%; 
    width: 100%;
    
}

header img{
    position: relative;
    margin-top: 10px;
    
}

nav{
    color: #F0932B;
    background: transparent;
    height: 100%;
    float: right;
    
}

.intro{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
    width: 100%;
    margin: 0;
    color: #F0932B;
    background-color: #130F40;
    text-align: center;
}

.intro img{
    margin-left: 16%;
}

.textIntro{
    margin-right: 10%;
}

.intro h1{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    text-align: center;
    width: 100%;
    font-size: 150px;    
}

.intro h2{
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 30px;
    width: 100%;
}

.intro p{
    font-family: 'Lato', sans-serif;
    text-align: center;
    width: 100%;
}

#downbtn{
    text-align: center;
    background: transparent;
    border: none;
    color: #F0932B;
    animation: mover 1s infinite  alternate;
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

.About{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    color: #130F40;
    text-align: center;
}

.slide{
    width: 50vw;
}

.description{
    text-align: center;
}

.description h1{
    font-size: 80px;
    font-family: 'Lato', sans-serif;
}

.description p{
    width: 80%;
    margin-top: 10%;
    margin-left: 8%;
    font-family: 'Lato', sans-serif;
}

.Parcerias{
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-color: white;
    text-align: center;
}

.Parcerias > h2{
    margin: 0 auto;
    text-align: center;
    padding-top: 2%;
    background-color: rgba(247, 203, 28, 0.89);
    height: 8%;
    
    color: #130F40;
    font-family: 'Lato', sans-serif;
}

.resumo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0;
    left: 0;
    height: 60vh;
}

.resumo #container{
    display: block;
    margin-top: 10%;
    width: 25%;
    height: 100%;
    border-radius: 8px;
    background: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

#container {

box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
}


#container:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
 
#separate{
    height:60%;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}

.Equipe{
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-color: #130F40;
}

.Equipe > h2{
    margin: 0 auto;
    text-align: center;
    padding-top: 2%;
    background-color: #F0932B;
    height: 8vh;
    
    color: #130F40;
    font-family: 'Lato', sans-serif;
}

.Equipe #container_t{
    display: inline-block;
    margin: 0 auto;
    max-width: 100%;
    height: 87vh;
    font-family: 'Lato', sans-serif;
}

.Equipe #imgs_1 {
    float: left;
    text-align: center;
    padding-left: 1%;
    padding-top: 6%;
    width: 15%;
}

.Equipe #imgs {
    float: left;
    text-align: center;
    padding-left: 1%;
    width: 15%;
}

.Equipe #imgs p, .Equipe #imgs_1 p{
    color: #F0932B;
}

.Equipe #imgs h4, .Equipe #imgs_1 h4{
    color: #F0932B;
    margin-bottom: -10px; 
}

.Contato{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    color: #130F40;
    text-align: center;
    overflow-y: hidden;
}

.chamada{
    text-align: center;
}

.chamada h1{
    font-size: 50px;
    font-family: 'Lato', sans-serif;
}

.chamada p{
    width: 80%;
    margin-top: 10%;
    margin-left: 8%;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.chamada a{
    text-decoration: none;
    color: #130F40;
}

footer{
    width: 100%;
    height: 5vh;
    background-color: #F0932B;
    text-align: center;
}